<div class="container">
    <div id="sad" class="jumbotron jumbotron-fluid">
    <h1 class="text-center text-white">404 Error...Sorry</h1>
</div>

<style>
    #sad {
    background-image: url(https://i.imgflip.com/offsx.jpg);
    padding-top: 20%;
    padding-bottom: 40%;
    background-size: cover;
    }
</style>