
<div class="container mt-4">
    <h1>Blog Posts</h1>
    <ul class="list-group mt-4">
        <li class="list-group-item"><a href="#" class="text-muted">CS290 Class Review</a></li>
        <li class="list-group-item"><a href="#" class="text-muted">CS340 Class Review</a></li>
        <li class="list-group-item"><a href="#" class="text-muted">CS325 Survival Guide</a></li>
        <li class="list-group-item"><a href="#" class="text-muted">Why I Chose OSU's Program</a></li>
    </ul>
</div>