
<div id="jumbo" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 text-white text-center">Get In Touch</h1>
        <p class="text-white text-center">Please feel free to send me a message!</p>
    </div>
</div>

<div class="container">
    <form action="/contact-success" method="post">
        <div class="col-6">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" name="name" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="john@email.com">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" name="message" rows="4" placeholder="Hi there..."></textarea>
            </div>
            <button type="submit" value="submit" class="btn btn-success">Send</button>
        </div>
    </form>
</div> 