<div id="jumbo" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 text-white text-center">Thank you, {{data.name}}, for getting in touch!</h1>
        <p class="text-white text-center">Look for a response soon at {{data.email}}</p>
    </div>
</div>