<div id="jumbo" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 text-white text-center">Thank you, {{data.name}}, for getting in touch!</h1>
        <p class="text-white text-center">Look for a response soon at {{data.email}}</p>
    </div>
</div>

<style>
    #jumbo {
        background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    }
</style>