
<div class="carousel slide" id="mycarousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container-fluid">
                <img class="d-block w-100" style="max-height: 500px" src="https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80" alt="first slide">
            </div>
            <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                <h1>I'm a programmer</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <img class="d-block w-100" style="max-height: 500px" src="https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="second slide">
            </div>
            <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                <h1>I'm a student</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-fluid">
                <img class="d-block w-100" style="max-height: 500px" src="https://images.unsplash.com/photo-1490604001847-b712b0c2f967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2280&q=80" alt="third slide">
            </div> 
            <div class="carousel-caption d-flex h-100 align-items-center justify-content-center">
                <h1>I'm an explorer</h1>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="container" style="width=50%">
    <br>
    <h1>My Journey</h1>
    <p> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At delectus minima, temporibus blanditiis iusto deserunt veniam corporis facere alias, numquam reprehenderit! Incidunt mollitia natus facere quisquam tempore, ipsum consectetur! Nisi cupiditate ut a eos, rerum voluptate ullam assumenda maxime, sed error sequi. Amet, error alias. Quas quasi velit nulla! Ipsa.
    </p>
</div>