<div class="container">
    <h1>Resume</h1>
    <a href="/Resume-5.pdf" class="btn btn-md btn-success mt-2">Download Resume</a>
    <div class="list-group my-4 col-4">
        <a class="list-group-item text-muted" href="#education">Education</a>
        <a class="list-group-item text-muted" href="#professional">Professional Experience</a>
        <a class="list-group-item text-muted" href="#projects">Projects</a>
        <a class="list-group-item text-muted" href="#skills">Skills</a>
    </div>
    <div class="data-spy data-target data-offset">
        <h3 id="education">Education</h3>
            <p class="lead">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo fuga consequatur dicta magni incidunt tenetur corrupti ratione quos non, accusantium repellat corporis in ex nisi porro facilis. Ratione ab rerum, voluptatum ut nemo rem magnam accusamus, voluptates, dolores doloribus accusantium perferendis eaque unde saepe praesentium dolore ipsam? Iure atque ipsa modi, provident enim saepe soluta harum magni, asperiores temporibus eaque consequatur nostrum fuga ipsum. Perferendis exercitationem nihil consequuntur soluta laborum, officiis quis temporibus natus reiciendis debitis, ab, quas labore vero voluptatibus hic? Quod ad ullam, porro neque provident omnis dignissimos. Quia, itaque error! Facere excepturi nesciunt dolorum ex, necessitatibus sunt!
            </p>
        <h3 id="professional">Professional Experience</h3>
            <p class="lead">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo fuga consequatur dicta magni incidunt tenetur corrupti ratione quos non, accusantium repellat corporis in ex nisi porro facilis. Ratione ab rerum, voluptatum ut nemo rem magnam accusamus, voluptates, dolores doloribus accusantium perferendis eaque unde saepe praesentium dolore ipsam? Iure atque ipsa modi, provident enim saepe soluta harum magni, asperiores temporibus eaque consequatur nostrum fuga ipsum. Perferendis exercitationem nihil consequuntur soluta laborum, officiis quis temporibus natus reiciendis debitis, ab, quas labore vero voluptatibus hic? Quod ad ullam, porro neque provident omnis dignissimos. Quia, itaque error! Facere excepturi nesciunt dolorum ex, necessitatibus sunt!
            </p>
        <h3 id="projects">Projects</h3>
            <p class="lead">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo fuga consequatur dicta magni incidunt tenetur corrupti ratione quos non, accusantium repellat corporis in ex nisi porro facilis. Ratione ab rerum, voluptatum ut nemo rem magnam accusamus, voluptates, dolores doloribus accusantium perferendis eaque unde saepe praesentium dolore ipsam? Iure atque ipsa modi, provident enim saepe soluta harum magni, asperiores temporibus eaque consequatur nostrum fuga ipsum. Perferendis exercitationem nihil consequuntur soluta laborum, officiis quis temporibus natus reiciendis debitis, ab, quas labore vero voluptatibus hic? Quod ad ullam, porro neque provident omnis dignissimos. Quia, itaque error! Facere excepturi nesciunt dolorum ex, necessitatibus sunt!
            </p>
        <h3 id="skills">Skills</h3>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque earum non, facilis adipisci cumque nesciunt.
            </p>
    </div>
</div>
