<div class="container">
    <h1>Resume</h1>
    <a href="/Resume-5.pdf" class="btn btn-md btn-success mt-2">Download Resume</a>
    <div class="list-group my-4 col-4">
        <a class="list-group-item text-muted" href="#education">Education</a>
        <a class="list-group-item text-muted" href="#professional">Professional Experience</a>
        <a class="list-group-item text-muted" href="#projects">Projects</a>
        <a class="list-group-item text-muted" href="#skills">Skills</a>
    </div>
    <div class="data-spy data-target data-offset">
        <h3 id="education">Education</h3>
            <p class="lead">
                <p>University of California, Davis - Exercise Biology - 2014</p>
                <p>Oregon State University - Computer Science - 2020</p>
            </p>
        <h3 id="professional">Professional Experience</h3>
            <p class="lead">
                <h5>Myovant Sciences | San Francisco, CA</h5>
                <h6>Independent IT Consultant , Jan 2019 - present</h6>
                <p>
                    ● Collaborated with IT consultants and vendors in providing hypercare across the organization <br>
                    ● Configured and coordinated the installation of Zoom conference rooms and WAPs during floor expansion
                </p>

                <h5>Workday (Contract) | Pleasanton, CA</h5>
                <h6>Employee Referrals Coordinator , May 2017 - June 2018</h6>
                <p>
                    ● Performed unit testing and regression testing for major Workday releases (WD30) <br>
                    ● Validated high-volume referrals (70+/day) and issued referral bonus payouts ($200K+/month) <br>
                    ● Developed reports on KPIs viewed by leadership, including CHRO and VPs (NPS, recruiting activity, adoption rates)
                </p>

                <h5>Google Nest (Contract) | Sunnyvale, CA</h5>
                <h6>Research Assistant , February 2017 (short-term project)</h6>
                <p>
                    ● Tested heat and object detection in the Nest Home sensors
                </p>

                <h5>Google (Contract) | Mountain View, CA</h5>
                <h6>Independent IT Consultant , Jan 2019 - present</h6>
                <p>
                    ● Assisted Google sales representatives with managing backend data for their SMB AdWords clients
                </p>

                <h5>UC Davis School of Medicine: Public Health | Davis, CA</h5>
                <p>Student Technology Assistant , March 2014 – October 2014</p>

                <h5>UC Davis School of Veterinary Medicine: Molecular Biosciences | Davis, CA</h5>
                <p>Student Technology Assistant , March 2014 – October 2014</p>
            </p>
        <h3 id="projects">Projects</h3>
            <p class="lead">
                <h5>Games Directory (HTML, Node.js, MySQL, Bootstrap)</h5>
                <p>
                    CRUD web application for a video games database. Sample data is injected as seed data, and users are allowed to add in
                    platforms and other attributes for games and query that data via user interface. Node.js used as backend to connect to MySQL.
                </p>

                <h5>Website (HTML, Node.js, Bootstrap)</h5>
                <p>
                    Developed personal website using Node.js as the backend and Express for routing requests. Used Bootstrap as frontend library
                    for styling.
                </p>
                <h5>Bay Area Rapid Transport - BART (Python, API)</h5>
                <p>
                    Program that uses Bart’s real-time ride departure data via BART API to list and sort trains leaving soonest from a specified
                    station. This is oftentimes a better estimate than scheduled times as rides are not always on time or are early.
                </p>
                <h5>Todo List (HTML, CSS, JavaScript)</h5>
                <p>
                    Developed a front-end todo list that can handle user inputs, deletions, edits and toggles. Primary focus of this project was to
                    learn best practices of modularizing similar functions within JS objects, and linking them to the correct HTML tags.
                </p>
            </p>
        <h3 id="skills">Skills</h3>
            <p class="lead">
                <h5>Languages:</h5><p>Python, C++, C, Javascript, HTML/CSS, Bootstrap, Node.js, MySQL</p>
                <h5>Tools/Software:</h5><p>Git/GitHub, Terminal, Xcode, VS Code, Workday, ServiceNow, Marketo</p>
                <h5>Relevant Courses:</h5><p>Web Development, Databases, Algorithms, Data Structures, Computer Architecture</p>
            </p>
    </div>
</div>
